# compiled output
/dist
/dist-ssr
/node_modules

#lock
pnpm-lock.yaml

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace


# Other
.history
*.local
yarn*
pnpm*
ts-out-dir
